
.font-area
{
    font-size: 12px;
//    line-height: 90px;
}
.text
{
    border:1px #CCC solid;
    height:25px;
    vertical-align:middle;
}
.text-area
{
    border:1px #CCC solid;
    height:80px;
    vertical-align:middle;
}
.text-actived
{
    border:1px #ccc solid;
}

.default-text-hover
{
    border:1px #39F solid;
}
.red-text-hover
{
    border:1px #DA5050 solid;
}
.green-text-hover
{
    border:1px limegreen solid;
}
.large
{
    width:450px;
}
.big
{
    width:300px;
}
.normal
{
    width:150px;
}
.small
{
    width:70px;
}