.container
{
    margin:3px 0;
    display: inline-block;
}
.label
{
    width: 60px;
    display: inline-block;
    padding-left:3px;
    color:#888;
    font-family: "宋体";
}
.notice
{
    display: inline-block;
    margin-left: 5px;
    font-family: "宋体";
}
.font
{
    font-size: 12px;
//    line-height: 35px;
}
.color
{
    color:#888;
}
.default-notice-color
{
    color:#39F;
}
.red-notice-color
{
    color:#DA5050;
}
.green-notice-color
{
    color:limegreen;
}
.top
{
    vertical-align:top;
}
.bottom
{
    vertical-align:bottom;
}
.middle
{
    vertical-align:middle;
}
.large
{
    width:450px;
}
.big
{
    width:300px;
}
.normal
{
    width:150px;
}
.small
{
    width:70px;
}