/*textbox 文本框样式*/
.sui-input-textbox-text-default
{
    border:1px #CCC solid;
    height:25px;
    vertical-align:middle;
    line-height: 25px;
}
/*textbox 多行文本框样式*/
.sui-input-textbox-text-area-default
{
    border:1px #CCC solid;
    height:80px;
    vertical-align:middle;
}
/*textbox 点击样式*/
.text-actived-default
{
    border:1px #CCC solid;
}
/*textbox 经过样式*/
.text-hover-default
{
    border:1px #39F solid;
}

