/* 
    文件描述 ：
    创建时间 ： 2015-12-1, 16:18:30
    创 建 人 ：木林森
*/
.sui-button 
{ 
    display: -moz-inline-stack; 
    display: inline-block; 
    vertical-align: middle; 
    *vertical-align: auto; 
    zoom: 1; 
    *display: inline; 
    overflow: hidden; 
    _display: inline; 
    padding: 0 10px; 
    margin: 0; 
    font-size: 12px; 
    border: 1px solid transparent; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
    color: #333; 
    text-decoration: none; 
    outline: 0; 
    height: 24px; 
    font-family: fontawesome; 
}
/* 连接后保持文本正常显示 */
.sui-button:link 
{ 
    text-decoration: none; 
}
/* 按钮默认状态 */
.sui-button.sui-state-default 
{ 
    border-color: #ccc; 
    background-color: #f8f8f8; 
}
/* 鼠标滑过后的颜色 */
.sui-button:hover 
{ 
    background-color: #f5f5f5; 
    border-color: #d9d9d9; 
}

.sui-button.sui-state-active, .sui-button:active 
{ 
    background-color: #e6e6e6; 
    background-color: #d9d9d9 \9; 
    background-image: none; 
    outline: 0; 
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
}
.sui-button.sui-state-disabled, .sui-button[disabled] 
{ 
    background-color: #f8f8f8; 
    border-color: #d9d9d9; 
    color: #cccccc; 
}

/* 四角圆角 */
.sui-button.sui-corner-all 
{ 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    -ms-border-radius: 2px; 
    -o-border-radius: 2px; 
    border-radius: 2px; 
}

/* 按钮颜色  primary 重要的 */
.sui-button.sui-button-primary 
{ 
    background-color: #3775c0; 
    border-color: #1d5eac; 
    color: #ffffff; 
}
.sui-button.sui-button-primary:hover 
{ 
    background-color: #3d8be9; 
    border-color: #1a5092; 
}
.sui-button.sui-button-primary.sui-state-disabled 
{ 
    background-color: #428bca; 
    border-color: #1d5eac; 
    color: #ffffff; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); 
    opacity: 0.6; 
}
/* 按钮颜色  warning 警告 */
.sui-button.sui-button-warning 
{ 
    background-color: #f0ad4e; 
    border-color: #eea236; 
    color: #ffffff; 
}
.sui-button.sui-button-warning:hover 
{ 
    background-color: #ec971f; 
    border-color: #d58512; 
}
.sui-button.sui-button-warning.sui-state-disabled 
{ 
    background-color: #f0ad4e; 
    border-color: #eea236; 
    color: #ffffff; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); 
    opacity: 0.6; 
}
/* 按钮颜色  danger 危险 */
.sui-button.sui-button-danger 
{ 
    background-color: #d9534f; 
    border-color: #d43f3a; 
    color: #ffffff; 
}
.sui-button.sui-button-danger:hover 
{ 
    background-color: #c9302c; 
    border-color: #ac2925; 
}
.sui-button.sui-button-danger.sui-state-disabled 
{ 
    background-color: #d9534f; 
    border-color: #d43f3a; 
    color: #ffffff; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); 
    opacity: 0.6; 
}
/* 按钮颜色  success 成功 */
.sui-button.sui-button-success 
{ 
    background-color: #58b359; 
    border-color: #45a846; 
    color: #ffffff; 
}
.sui-button.sui-button-success:hover 
{ 
    background-color: #68c969; 
    border-color: #3e973e; 
}
.sui-button.sui-button-success.sui-state-disabled 
{ 
    background-color: #5cb85c; 
    border-color: #4cae4c; 
    color: #ffffff; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); 
    opacity: 0.6; 
}
/* 按钮颜色  info 信息 */
.sui-button.sui-button-info 
{ 
    background-color: #5bc0de; 
    border-color: #46b8da; 
    color: #ffffff; 
}
.sui-button.sui-button-info:hover 
{ 
    background-color: #31b0d5; 
    border-color: #269abc; 
}
.sui-button.sui-button-info.sui-state-disabled 
{ 
    background-color: #5bc0de; 
    border-color: #46b8da; 
    color: #ffffff; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); 
    opacity: 0.6; 
}
/* 按钮颜色  inverse 逆向，相反 */
.sui-button.sui-button-inverse 
{ 
    background-color: #333; 
    border-color: #222; 
    color: #ffffff; 
}
.sui-button.sui-button-inverse:hover 
{ 
    background-color: #222; 
    border-color: #000; 
}
.sui-button.sui-button-inverse.sui-state-disabled 
{ 
    background-color: #333; 
    border-color: #222; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); 
    opacity: 0.6; 
}

.sui-button .sui-icon 
{ 
    font-size: 12px; 
    overflow: hidden; 
    line-height: 24px; 
    height: 24px; 
    display: -moz-inline-stack; 
    display: inline-block; 
    vertical-align: middle; 
    *vertical-align: auto; 
    zoom: 1; 
    *display: inline; 
    _display: inline; 
    font-style: normal; 
}

/* 文本样式,文本保持一行并且垂直居中 */
.sui-button .sui-button-text 
{ 
    font-size: 12px; 
    line-height: 24px; 
    height: 24px; 
    word-break: keep-all; 
    white-space: nowrap; 
    display: -moz-inline-stack; 
    display: inline-block; 
    vertical-align: middle; 
    *vertical-align: auto; 
    zoom: 1; 
    *display: inline; 
    _display: inline; 
}
/* 按钮文字居左样式 */
.sui-button .sui-button-text.sui-button-text-left 
{ 
    padding-right: 5px; 
}
/* 按钮文字居右样式 */
.sui-button .sui-button-text.sui-button-text-right 
{
    padding-left: 5px; 
}
/* 按钮文字居中样式 */
.sui-button .sui-button-text.sui-button-text-middle 
{ 
    padding-left: 5px; 
    padding-right: 5px; 
}
/* 隐藏按钮文字 */
.sui-button .sui-button-text.sui-button-text-hidden 
{ 
    display: none; 
    padding: 0; 
}

/* 按钮大小 */
/* small 样式 */
.sui-button-small 
{ 
    padding: 0 5px; 
    height: 20px; 
}
.sui-button-small .sui-icon 
{ 
    font-size: 12px; 
    line-height: 20px; 
    height: 20px; 
}
.sui-button-small .sui-button-text 
{ 
    font-size: 12px; 
    line-height: 20px; 
    height: 20px; 
}

/* big 样式 */
.sui-button-big 
{ 
    font-size: 14px; 
    padding: 0 15px; 
    height: 30px; 
}
.sui-button-big .sui-icon 
{ 
    font-size: 14px; 
    line-height: 30px; 
    height: 30px; 
}
.sui-button-big .sui-button-text 
{ 
    font-size: 14px; 
    line-height: 30px; 
    height: 30px; 
}

/* large  样式 */
.sui-button-large 
{ 
    padding: 0 25px; 
    height: 38px; 
}
.sui-button-large .sui-icon 
{ 
    font-size: 14px; 
    line-height: 38px; 
    height: 38px; 
}
.sui-button-large .sui-button-text 
{ 
    font-size: 14px; 
    line-height: 38px; 
    height: 38px; 
}
