.sui-input-datepicker-container
{
    position: relative;
}
.sui-input-datepicker
{
    width:210px;
    border:1px #ccc solid;
    position: absolute;
    top:1;
    left:0;
    background:aliceblue;
    overflow:hidden;
    z-index: 999;
}
.sui-input-datepicker-week-name
{
    width:30px;
    height:30px;
    border-bottom:1px #ccc solid;
    display: inline-block;
    text-align:center;
    line-height: 30px;
    font-size:12px;
}
.sui-input-datepicker-day-name
{
    width:30px;
    height:30px;
    background:#FFF;
    border-bottom:1px #ccc solid;
    display: inline-block;
    text-align:center;
    line-height: 30px;
    font-size:12px;
    cursor:pointer;
    font-family: "宋体";
}
.sui-input-datepicker-day-name-hover
{
    background: aliceblue!important;
    color:#000!important;
}
.sui-input-datepicker-day-name-active
{
    background: #fff
}
.sui-input-datepicker-day-name-current
{
    color:red;
    font-weight: bold;
}
.sui-input-datepicker-day-name-selected
{
    background:#009999;
    color:white;
}
.sui-input-datepicker-day-name-not-month{
    color:#ccc;
}
.sui-input-datepicker-time-container
{
    width:100%;
    padding:5px 0;
}
.sui-input-datepicker-time-container lable
{
    display:inline-block;
    font-size:12px;
    color:#888;
    font-family: "宋体";
    margin-left:2px;
}
.sui-input-datepicker-time-container input[type='textbox']
{
    width:20px;
    vertical-align: middle;
    margin-left:4px;
    font-size:12px;
    font-family: "宋体"
}
.sui-input-datepicker-time-container input[type='button']
{
    vertical-align: middle;
    margin-left:4px;
}