.select
{
    border:1px #CCC solid;
    height:30px;
    vertical-align:middle;
}

.avalon-checkbox-item-label
{
    display: inline-block;
    font-family: "宋体";
    margin-right: 5px;
    margin-left: 3px;
}
.default-select-hover
{
    border:1px #39F solid;
}
.red-select-hover
{
    border:1px #DA5050 solid;
}
.green-select-hover
{
    border:1px limegreen solid;
}
